#footer-sm {
    display: none;
}

@media screen and (max-width: 1280px) { /*ipad dikey */

    
}

@media screen and (max-width: 768px) {
    #footer-md {
        display: none;
        background-color: black;
    }

    #footer-sm {
        display: block;
    }
}